.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Rubik:300i,400,500,700,900');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: black;
  font-family: 'Rubik', sans-serif;

}



.task.completed {
    color: #9c8249;
    text-decoration: line-through;
    font-weight: 300;
    font-style: italic
  }

  .task {
      color: #e3dfe3;
      font-size: 30px;
      padding: 3px 0;
      font-weight: 400;
  }

  .to-Do-Wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 10000px;
      margin: 0;
      padding: 30px 0 0;
      background-color:  #282c34;
  }

  h2 {
      font-size: 47px;
      font-weight: 500;
  }


  .to-Do-List-Div {
      width: 625px;
      margin-left: 154px;
      

  }

  .to-Do-Form-Div {
      padding: 25px 0 0;
      margin: 30px 0 0;
  }
  ul {
    list-style-type: none;
  }

  .Login-Input {
    background-color: white;
    border: 0;
    padding: 10px 0;
    font-size: 23px;
    width: 240px;
    outline: 0;
    color: #282c34;
    border-bottom: 2px solid #87849f;
    margin-right: 8px;
  }

  .Home-Form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 60px 100px;
    border-radius: 16px;
  }

  .Home-Page-Links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Home-Page-Links h3{
    padding: 0;
    margin: 30px 0 10px;
  }

  .Home-Link{
    background-color: orangered;
    height: 15px;
    margin: 0 15px;
    padding: 20px 15px 35px;;
    color: white;
    border: 4px solid orangered;
    border-radius: 8px;
    /* line-height: 15px; */
    font-size: 20px;
    width: 300px;
    transition: 0.3s;
    text-decoration: none;
  }

  .Login-Button-And-Link button {
      background-color: orangered;
      height: 20px;
      margin: 0 15px;
      padding: 20px 15px 35px;;
      color: white;
      border: 4px solid orangered;
      border-radius: 8px;
      line-height: 15px;
      font-size: 20px;
      width: 350px;
      transition: 0.3s;
      
  }
  .Login-Button-And-Link button:hover {
    background-color: white;
    height: 20px;
    margin: 0 15px;
    padding: 20px 15px 35px;;
    color: orangered;
    border: 4px solid orangered;
    border-radius: 8px;
    line-height: 15px;
    font-size: 23px;
    width: 350px;
    cursor: pointer;
    
}

  .Login-Form {
    display: flex;
    background-color: white;
    padding: 0 60px 100px;
    border-radius: 16px;

  }
  .Login-Form label {
    padding: 15px;
    color: #282c34;
  }

  .Username-Wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    width: 420px;
  }
  .Password-Wrapper {
    display: flex;
    vertical-align: bottom;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px 0 30px;
    width: 420px;
  }
  

  .Link {
    color: #282c34;
    text-decoration: none;
    padding: 20px 0 0;
    font-size: 16px;
    border: 2px solid #282c34;
    width: 346px;
    border-radius: 8px;
    height: 30px;
    line-height: 15px;
    transition: 0.3s;
    margin: 20px 0 0;
  }

  .Link:hover {
    font-size: 17px;
    border: 3px solid #282c34;
    height: 28px;
    width: 344px;


   
  }
  
  .Login-Button-And-Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Student-List-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Student-List-Title {
    color: orangered;
  }

  .Student-List-Header{
    background-color: white;
    margin: 15px 0;
    border-radius: 16px;

  }

  .Student-List-Form {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    border-radius: 16px;
  }

  .Student-List-Individual-Wrapper {
    /* background-color: white; */
    width: 90%;
  }

  .Student-List-Button {
    background-color: orangered;
    height: 20px;
    margin: 15px 15px 0;
    padding: 20px 15px 35px;;
    color: white;
    border: 4px solid orangered;
    border-radius: 8px;
    line-height: 15px;
    font-size: 20px;
    width: 350px;
    transition: 0.3s;
      
  }
  .Student-List-Button:hover {
    background-color: white;
    height: 20px;
    padding: 20px 15px 35px;;
    color: orangered;
    border: 4px solid orangered;
    border-radius: 8px;
    line-height: 15px;
    font-size: 23px;
    width: 350px;
    cursor: pointer;
    
}

.Student-List-Individual-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Individual-Student-Wrapper {
  border: 1px solid red;
  background-color: white;
  margin: 0 0 15px;
  border-radius: 16px;
  padding: 0 0 15px;
  width: 750px;
}
.Individual-Student-Wrapper button {
  margin: 0 5px 15px;
}

.Individual-Student-Wrapper input {
  height: 100px;
  width: 200px;  
}

.Hidden-Display {
  display: none;
}



.Button-Show-Projects {
  background-color: white;
  height: 12px;
  margin: 15px 15px 0;
  padding: 20px 15px 29px;;
  color: orangered;
  border: white;
  border-bottom: 4px solid orangered;
  border-radius: 2px;
  line-height: 15px;
  font-size: 15px;
  width: 150px;
  transition: 0.3s;
    
}
.Button-Show-Projects:hover {
  background-color: white;
  color: orangered;
  border-radius: 8px;
  line-height: 15px;
  font-size: 17px;
  cursor: pointer;
}

.Button-Hide-Projects {
  background-color: orangered;
  height: 12px;
  margin: 15px 15px 0;
  padding: 20px 15px 29px;;
  color: white;
  border: 4px solid orangered;
  border-radius: 8px;
  line-height: 15px;
  font-size: 15px;
  width: 150px;
  transition: 0.3s;
    
}
.Button-Hide-Projects:hover {
  background-color: white;
  color: orangered;
  border-radius: 8px;
  line-height: 15px;
  font-size: 17px;
  cursor: pointer;
}

.Login-Error {
  font-size: 16px;
  color: red;
}

.Individual-Project-Wrapper{
  padding: 0 0 10px;
}

.Project-List-Title {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.Project-Item-Name {
  padding: 15px 0 0;
  margin: 0;
  font-weight: 500;

}

.Project-Item-Deadline {
  padding: 5px 0;
  margin: 0;
  font-weight: 300;
}